@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=SUSE:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Define the gradient for the background */
.bg-custom-gradient {
    background: linear-gradient(120deg, #091019, #1d2c38);
    background-size: cover; /* Make sure the gradient covers the entire background */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
    background-position: center;
  }
  
  /* Full height on all devices */
  .min-h-screen {
    min-height: 100vh;
  }
  
  /* Small screen adjustments */
  @media (max-width: 768px) {
    .bg-custom-gradient {
      background-position: top;
      background-size: cover; /* Ensures the background covers the screen, even on small devices */
      background-attachment: scroll; /* Fix background attachment issue on small screens */
    }
  }
  